coreschema==0.0.4
Django==4.0.0
django-filter==2.4.0
django-rest-passwordreset==1.2.0
djangorestframework-jwt==1.11.0
django-cors-headers==3.11.0
djangorestframework==3.13.1
django-rest-auth==0.9.5
gunicorn==19.9.0
itypes==1.1.0
nose==1.3.7
PyJWT
requests
simplejson==3.17.0
uritemplate==3.0.1
urllib3==1.22
whitenoise==4.1.2
django-phonenumber-field==2.2.0
phonenumbers==8.10.4
rest-condition
celery==5.2.1
redis
psycopg2-binary
channels==3.0.2
channels_redis==3.2
django-environ==0.4.5
